<div class="wrapper">
  <form class="search" [formGroup]="searchForm">
    <div class="search__controls">
      <input class="search__input" type="text" formControlName="search" placeholder="Type the username"
             (input)="searchUsers()">
      <button class="search__btn" (click)="searchUsers()" type="submit">Get Users</button>
    </div>
    <div class="search__filters">
      <label><input class="search__filter-input" type="number" formControlName="repos" [min]="0">Minimum number of repositories</label>
      <label><input class="search__filter-input" type="number" formControlName="followers" [min]="0">Minimum number
                                                                                                     of followers</label>
      <label><input class="search__filter-input" type="date" formControlName="created">Date created</label>
    </div>
  </form>

  <div class="users" *ngIf="(users$ | async) as users">
    <ng-container *ngIf="users.length; else noFoundTemplate">
      <div class="users__user user-card" *ngFor="let user of users">
        <img class="user-card__avatar" src="{{user?.avatar_url}}" alt="user avatar">
        <div class="user-card__login">{{user?.login}}</div>
        <a class="user-card__url" href="{{user?.html_url}}" target="_blank" rel="noopener noreferrer">{{user?.html_url}}</a>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noFoundTemplate>
  User with that name is not found
</ng-template>
